/*
 * Footer Styles
 */

 .site-footer{
 	background-color: $accent-color;
 	color: white;
 	padding: 50px 0;

 	@media screen and (max-width: 990px){
 		text-align: center;
 	}

 	p{margin-bottom: 10px}

 	a{
 		color: white;

 		&:hover{
 			text-decoration: underline;
 		}
 	}

 	.copy{
 		margin-top: 30px;
 		color: $accent-light-color;
 	}

 	.subscribe{
 		text-align: right;

 		@media screen and (max-width: 990px){
	 		margin-top: 30px;
 			text-align: center;
	 	}

 		input{ width: auto }
 		input[type="text"]{ 
 			background: transparent;
 			width: 250px;
 			color: white;
 			border-color: rgba(255,255,255,1);

 			&:focus, &:hover{
 				border-color: rgba(255,255,255,.5);
 			}

 			@media screen and (max-width: 640px){
	 			width: auto;
	 		}

	 		&::-webkit-input-placeholder { color: white }
			&:-moz-placeholder { color: white }
			&::-moz-placeholder { color: white }
			&:-ms-input-placeholder { color: white }

 		}

 		input[type="submit"]{
 			background: white;
 			color: $accent-color;
 			margin-left: 10px;
 			border: 1px solid transparent;

 			&:hover{
 				background-color: rgba(255,255,255,.7);
 				border: 1px solid white;
 			}
 		}
 	}
 }