<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Form is here</h1>
    
    <form action="{{ url_for('form') }}" method="post">
        {{ form.csrf_token }}
        {{ form.name.label }}
        {{ form.name }}
        <br>
        {{ form.gender.label }}
        {{ form.gender }}
        <br>
         {{ form.married.label }} 
         {{ form.married }}
        <br>
         {{ form.education.label }} 
         {{ form.education }}
        <br>
        {{ form.self_employed.label }}
        {{ form.self_employed }}
        <br>
        
        {{ form.dependents.label }}
        {{ form.dependents }}
        <br>
        
        {{ form.applicant_income.label }}
        {{ form.applicant_income }}
        <br>
        {{ form.coapplicant_income.label }}
        {{ form.coapplicant_income }}
        <br>
        
        {{ form.loan_amount.label }}
        {{ form.loan_amount }}
        <br>
        {{ form.loan_amount_term.label }}
        {{ form.loan_amount_term }}
        <br>
        {{ form.credit_history.label }}
        {{ form.credit_history }}
        <br>
         {{ form.property_area.label }} 
         {{ form.property_area }}
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>

